[submodule "data-staging/sources/STEP-Bible/step"]
	path = data-staging/sources/STEP-Bible/step
	url = https://github.com/STEPBible/step
[submodule "data-staging/sources/STEP-Bible/STEPBible-Data"]
	path = data-staging/sources/STEP-Bible/STEPBible-Data
	url = https://github.com/STEPBible/STEPBible-Data.git
[submodule "data-staging/sources/Clear-Bible/macula-hebrew"]
	path = data-staging/sources/Clear-Bible/macula-hebrew
	url = https://github.com/Clear-Bible/macula-hebrew.git
	branch = main
[submodule "data-staging/sources/Eliran-Wong/OpenHebrewBible"]
	path = data-staging/sources/Eliran-Wong/OpenHebrewBible
	url = https://github.com/eliranwong/OpenHebrewBible.git
