# data_files/*.json filter=lfs diff=lfs merge=lfs -text
# data_files/*.csv filter=lfs diff=lfs merge=lfs -text
# data_files/*.tsv filter=lfs diff=lfs merge=lfs -text
# data_files/*.db filter=lfs diff=lfs merge=lfs -text
# data_files/*.sqlite filter=lfs diff=lfs merge=lfs -text